.pic-name {
    width: 100%;
}

.main-row {
    display: flex;
    flex-direction: row;
}

.info-row {
    height: 150px;
}

.avatarname {
    font-size: 3rem;
    padding-top: 40px;
    position: absolute;
    left: 50%;
    margin-left: -43px;
}

.main-content {
    margin-top: 100px;
}

.pic-space {
    top: 50px;
    left: 50%;
    margin-left: -43px;
    position: absolute;
}

.pic-res {
    ;
    height: 100%;
    ;
    width: 100%;
}

.huge-bar {
    width: 100%;
    height: 140px;
    background-color: #bbb;
    border-color: white;
}

.tw-img {
    width: 100px;
    height: 100%;
    border-radius: 50%;
    position: relative;
}

.tw-pg {
    height: 500px;
    text-decoration: none;
    text-transform: none;
    font-size: 2.3rem;
    overflow: visible;
    overflow-y: auto;
}

.about-me {
    flex-direction: row;
    display: flex;
    font-size: 3rem;
    margin-top: 20px;
    text-transform: capitalize;
    font-weight: 100;
    color: black;
    font-family: Sans-Serif;
}

.border-indi {
    /* border: 2px solid red;*/
}

.shadow-profi {
    box-shadow: 0 1px 24px 0 #999;
}

.center-txt {
    margin: auto;
    display: table;
}

.whoami {
    ;
    height: 300px;
}

.titles3 {
    padding-left: 20px;
}

.cli-website {
    width: 48px;
    height: 48px;
}

.title-progress {
    font-size: 2rem;
}

.new-site {
    position: relative;
    top: -10px;
    left: 6px;
    font-size: 10px;
    font-weight: bold;
    color: black;
}

.mylinks {}

.metext {
    font-size: large;
    color: black;
    text-transform: none;
}

li {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.5s;
    padding: 13px 16px;
    transform: scale(1.02);
}

ul {
    list-style-type: none;
    padding-left:0px;
    margin-right:40px;
}

li:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
    z-index: 99;
}

@media (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
    /* Retina-specific stuff here */
}



/*@media only screen and (max-width: 480px) {
    #your_id {width:000px;height:000px;}
}
@media only screen and (min-width: 480px) and (max-width: 768px) {
    #your_id {width:000px;height:000px;}
}*/

@media only screen and (min-width: 768px) and (max-width: 989px) {
    .titles3 {
        padding-left: 40px;
    }
}

@media only screen and (min-width: 989px) and (max-width:1700px) {
    .titles3 {
        padding-left: unset;
    }
}

@media only screen and (max-width: 480px) {
    .main-row {
        flex-direction: column;
    }
    .col-xs-7,
    .col-xs-5 {
        width: 100% !important;
    }
}

@media only screen and (min-width: 480px) and (max-width: 768px) {
    .titles3 {
        padding-left: 30px;
    }
}